*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
}

body{position: relative;}

.bgHeader{
    background-color: rgb(0, 150, 136);
    width: 100%;
    height: 15vh;
}

.bgMain{
    background-color: rgb(216, 219, 215);
    height: 85vh;
    width: 100%;
}

.myContainer{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
}

.smallText{
    font-size: 10px;
    color: rgb(142, 142, 142);
}
.smallerText{
    font-size: 7px;
    color: rgb(142, 142, 142);
}

.chatHeader{
    background-color: rgb(234, 234, 234);
    height: 5vh;
}

.notifyMe{
    height: 7vh;
    background-color: rgb(142, 218, 252);
}

.userImg{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.cursorPointer{cursor: pointer;}
::placeholder{
    font-size: 10px;
    color: rgb(142, 142, 142);
}

.contactsWrapper{
    background-color: white;
    height: 70vh;
}

.myIcon{color: rgb(177,177,177);}

#bell{
    border-radius: 50%;
    background-color: white;
    color: rgb(142, 218, 252);
}

.chatDisplay{
    height: 75.7vh;
    background-image: url(img/mine.jpg);
}

.iSent{
    border-radius: 6px;
    min-width: 150px;
    background-color: rgb(213, 249, 185);
    ;
}
.iReceived{
    border-radius: 6px;
    min-width: 150px;
    background-color: white;
}

.footerIcon{font-size: 1.4rem;}